/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  background: #eee;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
