	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, img {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    font: inherit;
	    vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
	    display: block;
	}
	body {
	    line-height: 1;
	}
	
	blockquote, q {
	    quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
	    content: '';
	    content: none;
	}
	table {
	    border-collapse: collapse;
	    border-spacing: 0;
	}


	@media (min-width: 768px) {
	  .navbar-nav.navbar-center {
	    position: absolute;
	    left: 50%;
	    transform: translatex(-50%);
	  }
	}

	.navbar {
		background: transparent;
		border: 0;
		width: 100%;
	}

	.navbar-collapse ul:first-child {
		font-family: 'nunitolight';		
		font-size: 30px;
		color: green;
		font-weight: bold;
	}

	.navbar-center {
		font-family: 'nunitolight';		
	}

	.navbar a {
		color: green;
	}

	.navbar-right li {
		
		text-align: center;
		width: 22%;
		float: right;
	}

	.navbar-right img{
		width: 100%;
	}

	.navbar-right {
		
	}

	.navbar-default {
		
		vertical-align: middle;
	}

	hr {
		height: 5px;
		 background: red; /* For browsers that do not support gradients */
  		/* For Safari 5.1 to 6.0 */
		  background: -webkit-linear-gradient(left,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb);
		  /* For Opera 11.1 to 12.0 */
		  background: -o-linear-gradient(left,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb);
		  /* For Fx 3.6 to 15 */
		  background: -moz-linear-gradient(left,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb);
		  /* Standard syntax */
		  background: linear-gradient(to right, #00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb,#003c8f,#00a6cb); 
	}

	.wrapper {
	        display: flex;
	}

	.inner-addon {
 		 position: relative;
	}

	.inner-addon .glyphicon {
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	  color: black;
	}

	.right-addon .glyphicon { right: 20px;}

	.right-addon input { padding-right: 30px; }

	input[type="text"] {
		border-bottom: 1px solid #cdd4e0;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    font-family: 'nunitolight';	
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   opacity:  1;
	   font-family: 'nunitolight';	
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   opacity:  1;
	   font-family: 'nunitolight';	
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-family: 'nunitolight';	
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		font-family: 'nunitolight';	
	}

@media (max-width: 480px) {
}

@media (min-width: 480px) and  (max-width: 860px) {
}

@media (min-width: 860px) and (max-width: 1200px) {

}


/*
	Laptops and Displays
	===============   */
	
@media (min-width: 1200px) {
   
}

