.cars-content-details {

}

.main-car-information {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  width: 700px;
  border: 1px solid #666;
  border-radius: 5px;
}

.main-reservation-information {
  margin: 10px 0;
  width: 700px;
  border: 1px solid #333;
}

.booking-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

img {
  width: 300px;
  object-fit: contain;
  align-self: flex-start;
}

ul {
  flex: 1 1 auto;
  list-style-type: none;
}

.custom-day {
 text-align: center;
 padding: 0.185rem 0.25rem;
 display: inline-block;
 height: 2rem;
 width: 2rem;
}
.custom-day.focused {
 background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
 background-color: rgb(2, 117, 216);
 color: white;
}
.custom-day.faded {
 background-color: rgba(2, 117, 216, 0.5);
}
