<div class="container">
  <div class="cars-content-details">
    <div class="main-car-information" *ngIf="car">
      <img *ngIf="car.imgSrc" src="http://localhost:5656/{{ car.imgSrc }}">
      <ul>
        <li>{{ car.make }}</li>
        <li>{{ car.model }}</li>
        <li>{{ car.year }}</li>
        <li>{{ car.doors }}</li>
        <li>{{ car.aircondition }}</li>
      </ul>
    </div>

    <button (click)="showForm()" class="btn btn-primary">Book this car</button>

    <div class="main-reservation-information" *ngIf="showBookingForm">
      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="booking-form">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" formControlName="firstname" id="frstname">

        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" id="lastname">

        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email">

        <label for="bookedDates">From Date</label>
        <input type="text" class="form-control" formControlName="nasko" placeholder="Daterangepicker" bsDaterangepicker>
        <!-- <input class="form-control" placeholder="yyyy-mm-dd" formControlName="fromDate"
               name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
               [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>

        <input class="form-control" placeholder="yyyy-mm-dd" formControlName="toDate"
               name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
               [showWeekNumbers]="showWeekNumbers" ngbDatepicker #dd="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button"></button>
        </div> -->

        <!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
         <label for="to_date">To Date</label>
        <input type="text" class="form-control" formControlName="toDate" id="to_date" bsDatepicker placement="top"> -->

        <br/>
        <button type="submit" class="btn btn-primary" [disabled]="!bookingForm.valid">Send</button>
      </form>
    </div>
  </div>
</div>
