<div class="about-us-container">

  <div class="content">
    <h2>Кои Сме Ние?</h2>
    Ние сме малка фирма, която цели да предложи на своите клиенти автомобили които отговарят на техните нужди и изисквания. Наш приоритет е да останатете доволни от услугата, която предламе. Ние ви предоставяме модерни и функционални автомобили на разумна цена, удобни както за градска среда, така и за дълг път. Целият ни автопарк е преминал технически тестове, което осигурява безпроблемното ви пътуване. Държим нашите клиенти да бъдат удовлетворени, за това ние нямаме допълнителни такси и ограничение на пробега, което ви дава пълна свобода на пътуването. Ние сме гъвкави, за това при дългосрочен наем предлагаме отстъпки.

    <h2>Нашият екип</h2>
    <div class="team">
      <div>
        <img src="/assets/img/Nasko.png" width="200"/>
        <h3>Атанас Бочуков</h3>
      </div>
      <div>
        <img src="/assets/img/Nasko.png" width="200"/>
        <h3>Атанас Бочуков</h3>
      </div>
    </div>

    <h2>Защо нас?</h2>
    <ul>
      <li>Неограничен пробег</li>
      <li>Технически изправни превозни средства</li>
      <li>Възможност за втори шофьор</li>
      <li>Платени пътни такси</li>
      <li>Няма допълнителни такси</li>
      <li>Оптимални цени</li>
      <li>Отстъпки при дългосрочен наем</li>
      <li>Отстъпки за редовни/лоялни клиенти</li>
    </ul>

    <h2>Мнения на клиенти</h2>
    <div class="comments">
      <p>suadaorcnec sit amet eroorem ipsum dol. Or sit amt consc tetuer aiing elit. Mauris fermentum tumagna. Sed laoreet aliquam leo. Ut te dolor dapibus eget elentu vel cursus eleifend elit. Aenean auctor wrna. Aliqua volutpat. Duis ac turpis. Integer rutrum ante eu lacuest um liberoisl porta vel sceleisque eget malesuada at neque. Vivam nibhus metus<br/><br/><span>Николай Йорданов</span></p>
      <p>suadaorcnec sit amet eroorem ipsum dol. Or sit amt consc tetuer aiing elit. Mauris fermentum tumagna. Sed laoreet aliquam leo. Ut te dolor dapibus eget elentu vel cursus eleifend elit. Aenean auctor wrna. Aliqua volutpat. Duis ac turpis. Integer rutrum ante eu lacuest um liberoisl porta vel sceleisque eget malesuada at neque. Vivam nibhus metus<br/><br/><span>Константин Стоянов</span></p>
    </div>
  </div>
</div>
