<div class="intro">
  <div class="intro-content">
    Кои Сме Ние?
  Ние сме малка фирма, която цели да предложи на своите клиенти автомобили които отговарят на техните нужди и изисквания. Наш приоритет е да останатете доволни от услугата, която предламе. Ние ви предоставяме модерни и функционални автомобили на разумна цена, удобни както за градска среда, така и за дълг път. Целият ни автопарк е преминал технически тестове, което осигурява безпроблемното ви пътуване. Държим нашите клиенти да бъдат удовлетворени, за това ние нямаме допълнителни такси и ограничение на пробега, което ви дава пълна свобода на пътуването. Ние сме гъвкави, за това при дългосрочен наем предлагаме отстъпки.
</div>
