.conditions-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

li {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

b {
  font-family: 'Open Sans', sans-serif;
}
