.purchase {
	width: 50%;
	height: 500px;
	background: #f1f1f1;
	overflow-y: scroll;
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 1000;

}


.purchase .content {
	width: 550px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}

.purchase .content .order_info {
	float: left;
	/*border: 1px solid brown;*/
}

.purchase .content .order_info .main_info {
	border-radius: 5px;
	background: #f9f9f9;
	border: 1px solid #424242;
	margin: 0;
	margin-bottom: 10px;
}

.purchase .content .order_info span.text-danger {
	color: #ff0000;
	font-weight: bold;
}

.purchase .content .order_form {
	float: right;
	/*border: 1px solid brown;*/
}

.purchase .content h1 {
	text-align: center;
}

.purchase .content h1, .purchase .content p, .purchase .content span {
	color: #000;
}

#close span {
	color: #000;
	cursor: pointer;
	margin:10px; 
	float: right;
}

.purchase input {
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #424242;
	margin: 0 auto;
	background: #f9f9f9;
	padding-left: 10px;
	color: #000;
}

input.quantity {
	width: 30px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #424242;
	margin: 0 auto;
	background: #f9f9f9;
	color: #000;	
	text-align: center;
}

input[type=submit] {
 	background: red;
 	width: 170px;
 	height: 35px;
 	border-radius: 5px;
 	border: 1px solid #424242;
 	margin: 10px auto;
 	background: #f9f9f9; 
}

input[type=submit]:hover {
	background: #d1d1d1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 1;
}