<div class="container-menu">
  <div class="menu">
    <ul class="main-menu">
      <li routerLink="home" routerLinkActive="active">Начало</li>
      <li>/</li>
      <li routerLink="about-us" routerLinkActive="active">За нас</li>
      <li>/</li>
      <li routerLink="conditions" routerLinkActive="active">Условия</li>
      <li>/</li>
      <li routerLink="booking" routerLinkActive="active">Резервация</li>
      <li>/</li>
      <li routerLink="contacts" routerLinkActive="active">Контакти</li>
    </ul>

    <ul class="languages">
      <li (click)="setLanguge('bg')">BG</li>
      <li (click)="setLanguge('en')">EN</li>
      <li (click)="setLanguge('de')">DE</li>
    </ul>
  </div>
</div>
