.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: row wrap;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
  width: 60%;
}

.intro img {
  width: 200px;
  height: 200px;
  padding-right: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.intro-content {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.cars-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #fff;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  padding-right: 20px;
  margin-top: 20px;


}

label {
  padding-right: 5px;
}
