<div class="container">
  <div class="intro">
    <img src="/assets/img/Nasko.png">
    <div class="intro-content">
      <strong>Уважаеми клинети,</strong>
      <br/><br/>
      На първо място бих искал да ви благодаря за доверието при избор на нашата фирма. Надявам се, че в наше лице вие ще намерите сигурен и надежден партньор. Приоритет сред нашите цели е клиента да остане максимално доволен.
      <br/><br/>
      Като управител на фирма Atb Rental аз се старая да задоволя нуждите на нашите клиенти и да им предоставя качествена услуга на европейско ниво. Автомобилите, които можете да намерите при нас са оборудвани с всички съвременни технологии за безопасност и комфорт. Несъмненено всеки един автомобил може да предложи както динамика, така и спокойно шофиране за вас, така и сигурно пътуване за вашето семейство.
      <br/><br/>
      За мен всеки клиент е ценен и никой не прави изключение. Независимо дали сте корпоративен клиент или ви е необходим автомобил за уикенда, във всеки случай можете да разчитате на нас и нашите услуги.
      <br/><br/>
      Избирайки фирма atb rental вие си гарантирате едно качествено и удобно пътуваане независимо от крайната дестинация. Наслаждавайте се на всеки изминат километър с автомобилите на Atb Rental.
      <br/><br/>
      Благодаря ви за доверието!
    </div>
  </div>

  <div class="cars-review">
    <div class="left"><img src="/assets/img/cars/fiesta1.png" width="300"/></div>
    <div class="center">
      <h3>Ford Fiesta</h3>
      Година: 2011<br/>
      Места: 5<br/>
      Скорости: ръчни<br/>
      Гориво: бензин<br/>
      Екстри: климатик, радио CD<br/>
    </div>
    <div class="right">
      <h3>Допълнения</h3>
      <label>&#10003;</label>Втори шофьор<br/>
      <label>&#10003;</label>Неограничен пробег<br/>
      <label>&#10003;</label>Платени пътни такси<br/>
      <label>&#10003;</label>Застраховка<br/>
      <label>&#10003;</label>Пълен резервоар<br/>
    </div>
  </div>

  <div class="cars-review">
    <div class="left"><img src="/assets/img/cars/golf1.png" width="300"/></div>
    <div class="center">
      <h3>Ford Fiesta</h3>
      Година: 2011<br/>
      Места: 5<br/>
      Скорости: ръчни<br/>
      Гориво: бензин<br/>
      Екстри: климатик, радио CD<br/>
    </div>
    <div class="right">
      <h3>Допълнения</h3>
      <label>&#10003;</label>Втори шофьор<br/>
      <label>&#10003;</label>Неограничен пробег<br/>
      <label>&#10003;</label>Платени пътни такси<br/>
      <label>&#10003;</label>Застраховка<br/>
      <label>&#10003;</label>Пълен резервоар<br/>
    </div>
  </div>
</div>
